source https://nuget.org/api/v2

nuget FSharp.Data
nuget FSharp.Formatting 2.8.0
nuget FSharp.RDF 1.0.71
nuget FSharpVSPowerTools.Core 1.7.0
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget UnionArgParser
nuget dotNetRDF


github fsharp/FAKE modules/Octokit/Octokit.fsx
